* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Wrapper */
.mobile-card-wrapper {
  padding: 16px;
  display: flex;
  justify-content: center;
}

/* Card */
.mobile-card {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
}

/* Top row */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  /* font-size: 40px;
  color: #1a73e8; */
}

.stock {
  font-size: 18px;
  color: green;
}

.top-row h1{
  /* border: 2px solid red; */
  font-size: 30px;
}

/* Text */
.text {
  font-size: 18px;
  margin: 12px 0;
}

.text span {
  color: #1a73e8;
}

.text .zip {
  display: block; /* moves 11743 to next line */
}

/* Action row */
.action-row {
  display: flex;
  gap: 14px;
  margin: 20px 0;
}

/* Select base */
.select {
  height: 48px;
  border-radius: 12px;
  border: 1.5px solid #bdbdbd;
  background: white;
  font-size: 18px;
  padding: 0 14px;
  cursor: pointer;
}

/* Widths */
.select.qty {
  width: 200px;
}

.select.cs {
  width: 120px;
}

/* Active border */
.select.active {
  border: 2px solid #1a73e8;
}

.select:focus {
  outline: none;
}

/* Add to cart */
.add-btn {
  width: 100%;
  height: 52px;
  border-radius: 30px;
  border: none;
  background: #1976d2;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: block;
  /* font-weight: bold; */
}
