/* RESET + BOX-SIZING */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* background-color: #f5f5f5; */
}

/* WRAPPER: center the card */
.mobile-card-wrapper {
  padding: 16px;
  max-width: 100%;
  display: flex;
  justify-content: center;

}

/* CARD */
.mobile-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 12px;
  /* box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); */
  padding: 16px;
 
}

/* TOP ROW: Price + Stock */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.top-row h1{
  font-size: 30px;
}

.price {
  font-size: 22px;
  color: #1a73e8;
  font-weight: bold;
}

.stock {
  font-size: 16px;
  color: limegreen;
}

/* DELIVERY TEXT */
.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  margin-bottom: 20px;
}

.text span {
  color: #1a73e8;
}

/* ACTION ROW: Buttons */
.action-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.action-row button{
  font-size: 20px;
  margin-bottom: 20px;
}

.outline-btn {
  flex: 1;
  padding: 6px 12px;
  border: 2px solid #1a73e8;
  border-radius: 8px;
  /* background-color: white; */
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.outline-btn img {
  width: 16px;
  height: 16px;
}

/* ADD TO CART BUTTON */
.add-btn {
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  background-color: hsl(240, 66%, 55%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
