/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.sports {
  margin: 20px;
  padding-left: 15px;

}
.sports h1{
 
}

/* image container */
.wheelchair-image-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.wheelchair-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* headings */
.sports h1 {
  font-family: "Arial Black", sans-serif;
  /* padding: 0 30px; */
  /* padding: 5px; */

}

/* item row */
.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-text {
  font-size: 14px;
  color: #555;
  /* padding: 10px 30px; */
 padding-right: 30px;
}

.item-actions {
  display: flex;
  gap: 12px;
}

/* icons */
.like-icon,
.share-icon {
  width: 50px;
  cursor: pointer;
}

/* footer row */
.final-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final-one p {
  font-size: 13px;
  /* padding-left: 30px; */
   padding-right: 30px;
}

/* dots */
.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 14px 0;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #d0d0d0;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}
