
*{

       font-family: sans-serif;
   
    font-family: 'Inter', 'Roboto', sans-serif;
}

@media screen and (max-width: 480px) {
.main-resource{
    /* margin: 40px 20px; */
    margin: 20px;
       font-family: sans-serif;
   
    font-family: 'Inter', 'Roboto', sans-serif;
    


}

.things-images .book{
    /* border: 2px solid red; */
    width: 200px;
    height: 100px;
}


.resources-img{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    padding-top: 15px;
   
}


.things-images{

    display: flex;
    flex-direction: column;
   align-items: center;
   
}

.things-images img{
    width: 100px;
    padding-bottom: 20px;
}


.things-images p{

padding-bottom: 30px;

}

.things-images button{
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: hsl(219, 83%, 45%);
    font-size: 20px;
    color: white;
}


 .main-resource {
    position: relative;
}

.main-resource::after {
    content: "";
    position: absolute;
    left: -30px;
    right: -30px;
    bottom: 0;
    height: 2px;
  
    background-color: gray;
}

.resourcesHiding.active{
    display: block;
}

.resourcesHiding.hide{
    display: none;
}

.rotate{

    transform: rotate(90deg);
}

}