
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ACTIVE STATE (component scoped, mobile only) */
@media (max-width: 768px) {
  .tc-ball-active,
  .tc-btn-active {
    outline: 3px solid blue;
    /* outline-offset: 3px; */
  }
}

.tc-colors-container {
  padding: 10px 30px;
  background-color: hsl(0, 5%, 89%);
}

.tc-section-title {
  padding: 10px 0;
  font-weight: 500;
}


.tc-color-balls {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 0;
}

.tc-ball-red,
.tc-ball-blue,
.tc-ball-black {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.tc-ball-red { background-color: red; }
.tc-ball-blue { background-color: blue; }
.tc-ball-black { background-color: black; }


.tc-buttons-seat,
.tc-buttons-arm,
.tc-buttons-rig {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}


.tc-btn-seat {
  border-radius: 40px;
  font-size: 18px;
  padding: 6px 20px;
  background: white;
  cursor: pointer;
}


.tc-btn-arm {
  border-radius: 40px;
  font-size: 18px;
  padding: 6px 40px;
  background: white;
  cursor: pointer;
}


.tc-btn-rig {
  border-radius: 40px;
  font-size: 18px;
  padding: 6px 25px;
  background: white;
  cursor: pointer;
}


.tc-ball-active,
.tc-btn-active {
  outline: 3px solid blue;
  outline-offset: 3px;
}
