* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 480px) {

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 30px;
}

.actions {
    /* margin: 10px 30px; */
    /* padding: 10px; */

        margin: 10px 20px;
    padding: 10px;
      font-family: sans-serif;
}
.actions h1{
    /* border: 2px solid red; */
    margin-top: 20px;
}

.actions-demo{
    /* display: none; */
}

.right-arrow {
    display: flex;
    margin: 10px 0;
    font-size: 17px;
    color: skyblue;
}
.right-arrow .showing{

    /* border: 2px solid gray; */
    margin-bottom: 4px;
}

.right {
    color: red;
   
}

.second-One {
    margin: 10px 0;
    margin-top: 30px;
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: whitesmoke;
}

.third-one {
    border-bottom: 2px solid gray;
}


.fourth-one {
    position: relative;
}

.fourth-one::after {
    content: "";
    position: absolute;
    left: -30px;
    right: -30px;
    bottom: 0;
    height: 2px;
    background-color: gray;
}



 .actionsButton.hide {
    display: none;
}

.actionsButton.active {
    display: block;
} 



.actions {
    position: relative;
}

.actions::after {
    content: "";
    position: absolute;
    left: -30px;
    right: -30px;
    bottom: 0;
    height: 2px;
  
    background-color: gray;
}

.rotate{

        transform: rotate(90deg);
        

}

}
